/* Default Css */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

body {
    color: $body-color;
    font-size: $body-fz;
    font-family: $body-fonts;
    font-weight: 400;
}

img {
    max-width: 100%;
    @include transition(0.3s);
}

/* Shadow and Outline */

a {
    text-decoration: none;
    @include transition(0.3s);
    &:active,
    &:hover {
        text-decoration: none;
        color: unset;
    }
}

button,
.btn {
    @include transition(0.3s);
    &:active,
    &:hover,
    &:focus {
        outline: 0;
    }
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    color: $heading-color;
    background-color: transparent;
    outline: 0;
    box-shadow: none;

   
}

.btn:hover,
.btn:focus {
    outline: 0;
    box-shadow: none;
    color: #fff;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-fonts;
    color: $heading-color;
    font-weight: $head-fw;
    margin-bottom: 20px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 48px;
    line-height: 1.3;
}

h2 {
    font-size: 36px;
    line-height: 1.3;
}

h3 {
    font-size: 28px;
    line-height: 1.3;
}

h4 {
    font-size: 24px;
    line-height: 1.2;

}

h5 {
    font-size: 20px;
    line-height: 1.2;
}

h6 {
    font-size: 16px;
    line-height: 1.2;
}


ol {
    list-style: decimal;
}

ol ol ol {
    list-style: lower-roman;
}

ol ol {
    list-style: lower-alpha;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

/* Form */

label {
    color: $gray;
    cursor: pointer;
    font-size: $body-fz;
    font-weight: 400;
}

*::-moz-selection {
    background: $primary-color;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: $primary-color;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: $primary-color;
    color: #fff;
    text-shadow: none;
}

/* Placeholder */

*::-moz-placeholder {
    color: $body-color;
    font-size: $body-fz;
    opacity: 1;
}

*::placeholder {
    color: $body-color;
    font-size: $body-fz;
    opacity: 1;
}

/* Button */

.btn-theme {
    color: #fff;
    border-color: $primary-color;
    background: $primary-color;
    &:hover {
        background: $primary-color;
        color: #fff;
        border-color: $primary-color;
    }
}

.btn-rounded {
    border-radius: 100% !important;
}

.btn-square {
    border-radius: 0 !important;
}

/* Others Common Css Here :) */

#scrollUp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: $primary-color;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    font-weight: 700;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

#scrollUp:hover {
    background: $primary-color;
}

// Container
@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

// Section Title 
.seciton-title {
    text-align: center;
    margin-bottom: 60px;
    h2 {
        font-size: 54px;
        font-weight: 700;
        line-height: 1.3;
    }
}
@media screen and (max-width: 991px) {
    .seciton-title {
        margin-bottom: 50px;
        h2 {
            font-size: 50px;
        }
    }
}
@media screen and (max-width: 575px) {
    .seciton-title {
        margin-bottom: 40px;
        h2 {
            font-size: 40px;
        }
    }
}