.service-area {
    position: relative;
    padding-bottom: 110px;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 60%;
        z-index: -1;
        background-color: $primary-color;
        bottom: 0;
        left: 0;
    }
}

.service-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.service-thumb {
    width: 100%;
}

.service-acordion {
    // border: 1px solid #F0F0F0; 
    // border-radius: 32px;
    // height: auto;
}
.single-faq {
    background: $white;
    padding: 25px 40px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #F0F0F0;
    transition: all .3s ease-in-out;
    &:first-child {
        border-radius: 32px 32px 0px 0px;
    }
    &:last-child {
        border-radius: 0px 0px 32px 32px;
        border-bottom: 1px solid #F0F0F0;
    }
    &.active {
        background-color: $secondary-color;
        border: none;
        .faq-head {
            button {
                .title {
                    color: $white;
                }
                .arrow {
                    background-color: $white;
                    svg {
                        transform: rotateX(180deg);
                        path {
                            stroke: #1B1A1F;
                        }
                    }
                }
            }
        }
        // .faq-body {
        //     display: block;
        // }
    }
}
// .display-block {
//     display: block;
// }
.faq-head {
    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        outline: none;
        border: none;
        background-color: transparent;
        width: 100%;
        padding: 0;
        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.3;
            font-family: $header-fonts;
            letter-spacing: -0.02em;
            color: $primary-color;
            transition: all .3s ease-in-out;
            text-align: left;
            flex: 1;
        }
        .arrow {
            width: 35px;
            height: 36px;
            background: #C1C8CE;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-in-out;
            svg {
                transition: all .3s ease-in-out;
                path {
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}
.faq-body {
    padding-top: 25px;
    display: none;
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        color: $white;
    }
    ul {
        margin-top: 20px;
        padding-left: 20px;
        li {
            margin-bottom: 15px;
            color: $white;
            font-size: 18px;
            line-height: 1.5;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .service-area {
        padding-bottom: 100px;
    }
    .service-area {
        &::before {
            display: none;
        }
    }
    .service-wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .service-thumb {
        img {
            width: 100%;
        }
    }
}
@media screen and (max-width: 767px) {
    .service-area {
        padding-bottom: 70px;
    }
    .faq-head {
        button {
            .title {
                font-size: 20px;
            }
        }
    }
    .faq-body {
        padding-top: 20px;
        p {
            font-size: 16px;
        }
        ul {
            li {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .service-area {
        padding-bottom: 50px;
    }
    .single-faq {
        padding: 20px;
    }
}