
.subscribe-area {
    padding: 60px 0px 120px;
}
.subscribe-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 1145px;
    margin: 0 auto;
    gap: 36px;
    
}
.subscribe-contnet {
    padding-top: 84px;
    max-width: 545px;
    width: 100%;
    h3 {
        font-weight: 600;
        font-size: 50px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #003250;
        padding: 0;
        margin: 0;
    }
    p {
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.5;
        color: #6EAA78;
        margin-top: 30px;
    }
}

.subscribe-from {
    max-width: 564px;
    width: 100%;
    background: #003250;
    border-radius: 32px;
    padding: 35px 45px;
    button {
        margin-top: 20px;
        padding: 16px 50px;
        background-color: $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        border-radius: 100px;
        color: #FFFFFF;
        transition: all .3s ease-in-out;
        outline: none;
        border: 1px solid transparent;
        &:hover {
            background-color: transparent;
            border-color: $white;

        }
    }
}
.single-from {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    label {
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    textarea,
    input {
        width: 100%;
        padding: 15px;
        height: 60px;
        background: #FFFFFF;
        border-radius: 15px;
        outline: none;
        border: none;
    }
    textarea {
        height: 153px;
    }
}
.from-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 10px;
    .single-from {
        margin-bottom: 0;
    }
}


// Responsive 
@media screen and (max-width: 991px) {
    .subscribe-area {
        padding: 50px 0px 100px;
    }
    .subscribe-wrapper {
        flex-direction: column;
        gap: 40px;
    }
    .subscribe-contnet {
        padding-top: 0;
        text-align: center;
        max-width: 100%;
    }
    .subscribe-from {
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .subscribe-area {
        padding: 35px 0px 70px;
    }
    .subscribe-contnet {
        h3 {
            font-size: 38px;
        }
        p {
            font-size: 20px;
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 575px) {
    .subscribe-area {
        padding: 25px 0px 50px;
    }
    .subscribe-contnet {
        h3 {
            font-size: 32px;
        }
        p {
            font-size: 16px;
            margin-top: 15px;
        }
    }
    .subscribe-from {
        border-radius: 20px;
        padding: 20px;
        button {
            padding: 12px 35px;
            gap: 10px;
            font-size: 16px;
        }
    }
    .single-from {
        label {
            font-size: 18px;
        }
        input {
            height: 52px;
        }
    }
    .from-wrap {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .single-from {
        textarea {
            height: 120px;
        }
    }
}